@font-face {
    font-family: "monst";
    src: url("./fonts/Montserrat-Thin.ttf");
}

* {
    font-family: "monst";
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

ul li {
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
    width: 100%;
    background: url("./imgs/garage.jpeg") no-repeat top / cover;
}

.header {
    width: 300px;
    margin: 70px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav {
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button, a {
    background: transparent;
    border: 0;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    font-size: 18px;
    transition: all .5s;
    cursor: pointer;
}

button:hover, a:hover {
    opacity: .5;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    gap: 50px;
}

.title {
    font-size: 20px;
}